<!--The content below is only a placeholder and can be replaced.-->


<!--quill-editor (onContentChanged)="onContentChanged($event)" (onSelectionChanged)="onSelectionChanged($event)"></quill-editor>


<div [innerHTML]="content"></div>

{{content}}-->


<!--quill-editor (onContentChanged)="onContentChanged($event)" *ngIf="false" (onSelectionChanged)="onSelectionChanged($event)">
  <div quill-editor-toolbar>
    <span class="ql-formats">
      <button class="ql-bold" [title]="'Bold'"></button>
    </span>
    <span class="ql-formats">
      <select class="ql-font" [title]="'Font'">
        <option selected value="TimesNewHomer">TimesNewHomer</option>
        <option value="right">Arial</option>
      </select>
      <select class="ql-align" [title]="'Aligment'">
        <option selected></option>
        <option value="center"></option>
        <option value="right"></option>
        <option value="justify"></option>
      </select>
    </span>
  </div>
</quill-editor-->
<a href="create/manual">Criar Manual</a>
|
<a href="list/manual">Listar Manuais</a>
<br>
<br>
<router-outlet></router-outlet>
